.parent {
    height: 50vh;
   
    /* add solution here */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.child {
    background-color: darkolivegreen;
    color: white;
    padding: 1rem;
    align-items: center;

    
     
}
